.game {
    margin-bottom: 20px;
}

.game select {
    width: 100%;
}

.seasonNumber {
    display: table;
    margin-bottom: 20px;
}

.seasonNumber [type="text"] {
    display: table-cell;
    width: 50px;
    float: right;
}

.numWeeks {
    display: table;
    margin-bottom: 20px;
}

.numWeeks [type="text"] {
    float: right;
    display: table-cell;
    width: 50px;
}

.semester {
    margin-bottom: 20px;
}

.semester label {
    padding-right: 50%;
}

.semesterBoxes {
    display: table;
}

.semester select {
    display: table-cell;
    width: 50%;
}

.addDataForm {
    width: 80%;
    float: right;
    padding: 20px;
    border-radius: 10px;
    background-color: lightgray;
}

@media (max-width: 1399px) {
    .addDataForm {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .addDataForm {
        width: 80%;
    }
}

@media (max-width: 991px) {
    table {
        font-size: 12px;
    }

    .addDataForm {
        width: 100%;
    }
}

@media (max-width: 575px) {
    table {
        font-size: 9px;
    }
}