.dataTabs {
    padding: 20px;
}

.dataTable {
    max-height: 800px;
    overflow: scroll;
}

.longTable {
    white-space: nowrap;
    overflow: hidden;
}

.fullSelect {
    margin-bottom: 20px;
}

.fullSelect select {
    width: 100%;
}

.halfSelect {
    margin-bottom: 20px;
}

.halfSelect label {
    padding-right: 50%;
}

.halfSelectBoxes {
    display: table;
}

.halfSelect select {
    display: table-cell;
    width: 50%;
}

.shortText {
    width: 100%;
    display: table;
    margin-bottom: 20px;
}

.shortText [type="text"] {
    display: table-cell;
    width: 60px;
    float: right;
    padding: 5px;
}

.text-muted {
    display: block;
}

.longText {
    margin-bottom: 20px;
}

.longText [type="text"] {
    width: 100%;
}

.checkBox {
    margin-bottom: 20px;
}

.addDataForm {
    width: 100%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.addDataForm > div {
    padding: 20px;
    background-color: #E8E8E8;
}

.recalculatePlayers {
    width: 100%;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recalculatePlayers form {
    padding: 20px;
    border-radius: 10px;
    background-color: lightgray;
    justify-content: center;
}

.errorMessage {
    font-size: 10px;
    padding: 3px;
    color: red;
}

.alert {
    width: 100%;
    margin-top: 20px;
    float: right;
}

.input:invalid ~ .errorMessage {
    display: block;
}

.deleteAllEvents {
    padding-top: 20px;
}

/* xl */
@media (max-width: 1399px) {}

/* lg */
@media (max-width: 1199px) {}

/* sm, md */
@media (max-width: 991px) {
    table {
        font-size: small;
    }
}

/* xs */
@media (max-width: 575px) {}