.dataTabs {
    padding: 20px;
}

.longTable {
    white-space: nowrap;
    overflow: hidden;
}

.fullSelect {
    margin-bottom: 20px;
}

.fullSelect select {
    width: 100%;
}

.halfSelect {
    margin-bottom: 20px;
}

.halfSelect label {
    padding-right: 50%;
}

.halfSelectBoxes {
    display: table;
}

.halfSelect select {
    display: table-cell;
    width: 50%;
}

.shortText {
    width: 100%;
    display: table;
    margin-bottom: 20px;
}

.shortText [type="text"] {
    display: table-cell;
    width: 50px;
    float: right;
}

.longText {
    margin-bottom: 20px;
}

.longText [type="text"] {
    width: 100%;
}

.checkBox {
    margin-bottom: 20px;
}

.addDataForm {
    width: 80%;
    float: right;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: lightgray;
}

@media (max-width: 1399px) {
    .addDataForm {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .addDataForm {
        width: 80%;
    }
}

@media (max-width: 991px) {
    table {
        font-size: 12px;
    }

    .addDataForm {
        width: 100%;
    }
}

@media (max-width: 575px) {
    table {
        font-size: 9px;
    }
}