@import url("https://fonts.cdnfonts.com/css/myriad-pro");

.footer {
    background-color: #FF2400;
    padding-top: "75px";
}

.footerLinks {
    text-align: right;
    padding-top: 30px;
}

.footerIconLabel {
    font-family: myriad pro, 'sans-serif';
    color: white;
    text-align: right;
    position: relative;
    top: 10px;
}

.footerIcon {
    color: white;
    font-size: 30px;
    padding: 10px;
}

.footerIcon:hover {
    color: #CCC;
    transition: all 0.2s linear;
}

.footerText {
    color: white;
    text-align: left;
    padding-top: 55px;
}

.footerCopyright {
    color: white;
    padding-top: 10px;
    text-align: center;
    padding-bottom: 40px;
}

@media (max-width: 1199px) {
    .footerText {
        padding-top: 100px;
    }

    .footerIconLabel {
        text-align: center;
    }
}

@media (max-width: 575px) {
    .footerLinks {
        text-align: center;
    }
    .footerText {
        text-align: center;
        padding-top: 0px;
    }
}