#notFound {
    min-height: 70vh;
}

#notFound h1 {
    text-align: center;
    padding: 50px;
}

#joke {
    display: flex;
    justify-content: center;
}

#notFound p {
    text-align: center;
    width: 50%;
}