@import url("https://fonts.cdnfonts.com/css/myriad-pro");

.dataSelectForm {
    width: 100%;
    margin-top: 20px;
    padding-bottom: 30px;
}

.dataSelectForm form {
    padding: 20px;
    border-radius: 10px;
    background-color: lightgray;
}

.seasonSelect {
    width: 100%;
    margin-bottom: 20px;
}

.tournamentSelect {
    width: 100%;
    margin-bottom: 20px;
}

.pageSelect {
    width: 100%;
    justify-content: end;
    text-align: center;
}

.pageSelect Pagination {
    size: "sm";
}

.eventHeader {
    padding-bottom: 20px;
}

.eventTitle {
    text-align: center;
    font-family: myriad pro, sans-serif;
    color: #DD2400;
}

.eventBasicInfo {
    text-align: right;
    padding-right: 10px;
}

.eventCard {
    width: 100%;
    background-color: #E8E8E8;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.first {
    font: 600 25px var(--bs-body-font-family);
    -webkit-text-fill-color: gold;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: goldenrod;
}

.second {
    font: 600 25px var(--bs-body-font-family);
    -webkit-text-fill-color: silver;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: gray;
}

.third {
    font: 600 25px var(--bs-body-font-family);
    -webkit-text-fill-color: #CD7F32;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: brown;
}

/* md */
@media (max-width: 991px) {
    .dataSelectForm {
        padding-bottom: 40px;
    }
}

/* sm */
@media (max-width: 765px) {
    .eventTitle {
        padding-bottom: 0px;
    }
    .eventItemTitle {
        text-align: center;
    }
    .eventItem {
        padding-top: 30px;
        text-align: center;
    }
    .winnerName {
        text-align: left;
    }
}